

<div class="form-trevor" style="width: 300px; margin-left: auto; margin-right: auto; margin-top: 150px;">
 <%= form_for Payment.new, :html => { :class => "form-signin" }, :include_id => false do |f|  %>
    <h2 class="form-signin-heading text-center">Get your money back</h2>
    
    <%= f.text_field :transfer_amount, :placeholder => "How much?", :class => "form-control" %>
    <%= f.text_field :description,  :placeholder => "What for?", :class => "form-control" %>

 <%= fields_for User.new do |builder| %>
    <%= builder.text_field :phone, :name => "user[phone]", :id => "phone", :placeholder => "Your phone number", :class => "form-control" %>
    <%#= builder.text_field :phone, :name => "user[payer_phone]", :id => "phone", :placeholder => "Friend's phone number", :class => "form-control" %>
    <%= builder.text_field :email, :id => "email", :placeholder => "Friend's email", :class => "form-control" %>

 <% end %>

    <div class="submit-button" style="margin-top: 5px;">
    <%= f.submit "Get paid!", :class => "btn btn-lg btn-primary btn-block", :id => "submit-button" %>
    </div>
  <% end %>
</div>

